* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}

textarea {
  min-height: 5rem;
  min-width: 500px;
  resize: vertical;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
html ul li,
html a {
  margin-top: 0;
}

.shadowForText {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
html h1 {
  font-weight: 900;
  font-size: 4.8rem;
  color: #111111;
}
html h2 {
  font-weight: 500;
  font-size: 4rem;
  color: #111111;
}
html h3 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #FF3998;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
html h4 {
  font-weight: 700;
  font-size: 1.6em;
  color: #555555;
  text-transform: uppercase;
}
html p, html a, html ul li {
  font-weight: 400;
  font-size: 2rem;
  color: #555555;
}
html .overrideTextColor {
  color: #111111;
}
html .p_Copyright, html footer .Copyright, footer html .Copyright {
  color: #999999;
}
html ul {
  list-style: none;
  padding-left: 0%;
}
html a {
  text-decoration: underline;
}

body {
  background-color: #ffffff;
}

.paddingTopAndBottom, section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main {
  overflow: hidden;
  overflow-y: visible;
}

.paddingLeftandRight, .news .newsTextBox, .container {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.container {
  height: 100%;
}

.icon, .header__container .fa-bars {
  color: #999999;
}

button {
  color: #111111;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.1em 2.8em;
  border-radius: 2.5em;
  border: solid 5px;
  border-color: #ff6643;
  background-color: transparent;
}

header {
  height: 10rem;
  background-color: transparent;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container .logoImg {
  height: 3.6rem;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__container .fa-bars {
  font-size: 2.4rem;
}

.hero .container, .about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero .textBox, .about .textBox {
  min-width: 274px;
}
.hero .imgBox, .about .imgBox {
  position: relative;
  height: 100%;
}
.hero .NFTImg, .about .NFTImg {
  position: absolute;
  height: 100%;
}
.hero .NFTImg, .about .NFTImg {
  right: -230px;
  top: -20%;
  min-width: 400px;
}

.news {
  position: relative;
  width: 100%;
  height: 100%;
}
.news .news__container {
  width: 100%;
  height: 100%;
}
.news .news__img {
  overflow: hidden;
  position: absolute;
  color: #111111;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.icons .iconContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.icons .companyIcon {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: self-start;
  min-height: 100%;
}

.auctionCard--line p, .auctionCard--line html ul li, html ul .auctionCard--line li, .auctionCard--line html a, html .auctionCard--line a {
  color: #777777;
}

.auctionCard--line--1 p, .auctionCard--line--1 html ul li, html ul .auctionCard--line--1 li, .auctionCard--line--1 html a, html .auctionCard--line--1 a {
  font-size: 1.2rem;
  font-weight: 500;
}
.auctionCard--line--1 .auctionCard--line--1__left p, .auctionCard--line--1 .auctionCard--line--1__left html ul li, html ul .auctionCard--line--1 .auctionCard--line--1__left li, .auctionCard--line--1 .auctionCard--line--1__left html a, html .auctionCard--line--1 .auctionCard--line--1__left a {
  color: #FF8139;
}

.auctionCard--line--2 p, .auctionCard--line--2 html ul li, html ul .auctionCard--line--2 li, .auctionCard--line--2 html a, html .auctionCard--line--2 a {
  color: #111111;
  font-weight: 500;
  font-size: 2rem;
}

.auctionCard--line--3 p, .auctionCard--line--3 html ul li, html ul .auctionCard--line--3 li, .auctionCard--line--3 html a, html .auctionCard--line--3 a {
  font-weight: 400;
  font-size: 1.8rem;
}

.auctionCard {
  background-color: #EEEEEE;
  overflow: hidden;
  border-radius: 15px;
}
.auctionCard__img {
  min-width: 100%;
}

.auctionCard--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 2em;
}
.auctionCard--line p, .auctionCard--line html ul li, html ul .auctionCard--line li, .auctionCard--line html a, html .auctionCard--line a {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.auctionCard--line--2__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auctionCard--line--2__right img {
  padding-right: 1em;
  height: 3rem;
}

.about .NFTImg {
  right: -150px;
  top: 20%;
  min-width: 400px;
}
.about .textBox {
  min-width: 207px;
}

footer a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */