@use 'reset';


// Extended use

// colors
$primary-text-color: #111111;
$secondary-text-color: #555555;
$primary-icon-color: #999999;
$contrast-text-color: #FF3998;
$background-color: #ffffff;
$btn-border-color: #ff6643;
$card-color: #EEEEEE;
$NFT-series-color: #FF8139;
$NFT-Text-Details:#777777;
$About-Box-BorderColor:#EEEEEE;


.shadowForText{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//page styles
// HTML!
html{
font-size: 10px;
font-family: 'Inter', sans-serif;


// text styles
h1{
    font-weight: 900;
    font-size: 4.8rem;
    color: $primary-text-color;
}
h2{
    font-weight: 500;
    font-size: 4rem;
    color: $primary-text-color;
}
h3{
    // reserved for contrast text-line
    font-weight: 700;
    font-size: 1.6rem;
    color: $contrast-text-color;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h4{
// reserved for footer header
font-weight: 700;
font-size: 1.6em;
color: $secondary-text-color;
text-transform: uppercase;
padding-top: 4rem;
}

p{
    font-weight: 400;
    font-size: 2rem;
    color: $secondary-text-color;
    line-height: 1.5em;
}
.overrideTextColor{
    color:$primary-text-color
}

.p_Copyright{
    color: $primary-icon-color;
}

ul{
    list-style: none;
    padding-left: 0%;
    li{
        @extend p;
        padding-bottom: 0.5em
    }
}


a{
    @extend p;
    font-weight: 500;
}



body{
background-color:$background-color;
}

.paddingTopAndBottom{
    padding-top: 4rem;
    padding-bottom: 4rem;  
}

section{
@extend.paddingTopAndBottom;
}

main{
    overflow: hidden;
    overflow-y: visible;
}

.paddingLeftandRight{
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.container{
    @extend.paddingLeftandRight;        
    height: 100%;
}

.icon{
    color: $primary-icon-color;
}

button{
    color: $primary-text-color;
    font-weight: 600;
    font-size: 2rem;
    padding: 1.1em 2.8em;
    border-radius: 2.5em;
    border: solid 5px;
    border-color: $btn-border-color;
    background-color: transparent;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
// /Extended use
}
// / HTML!
// HEADER
header{

    s{
        font-size: 2rem;
    }

 
    ul{
        display: none;


        li{
            padding-top:0;
            padding-bottom:0;
            padding-right: 2rem;
        }




    }


        .headerLinkBeutyfy{
        color: $contrast-text-color;

    }
    

    height: 10rem;
    background-color: transparent;

    .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

        .logoImg{
            height: 3.6rem;
            align-self: center;
        }

        .fa-bars{
            @extend.icon;
           font-size: 2.4rem;
        }
    }
}
// /HEADER
// HERO
.hero{
padding-top: 0;
h3{
    padding-top: 7rem;
}

    .container{
        // position: relative;
        display: grid;
        grid-template-columns: auto auto;
    }

    .minimumBoxForTextBox{
        overflow: visible;
        min-width: 20rem;
        height: 100%;
        z-index: 10;
    }


    .textBox{
        // background-color: #ff39394a;
        // @extend .paddingTopAndBottom;
        // @extend .paddingLeftandRight;
        // position: absolute;
        width: 27.2em;
        p{
            max-width: 520px;
        }

    }

    .imgBox{

        height: 100%;
        width: 100%;
        min-width: 370px;
        display: grid;
        align-content: start;
        justify-content: center;
        // padding-top: 5rem;
    }

    .NFTImg{
        max-height: 100%;
        min-width: 300px;
        z-index: 1;
    }

}
// /HERO
// NEWS
.news{
    position: relative;
    max-width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    overflow: hidden;
    .news__container{
        width: 100%;
        height: 100%;
        padding-top: 8rem;
        overflow: hidden;
    }


    .news__img{
        position: absolute;
        color: #111111;
        top: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        }

    .newsTextBox{
        // padarytas atskirai nes originale isdestymas chaotiskas
        // for my excuse taip nedaryciau, padariau tik tam, kad sutaptu su originalu...
        @extend.paddingLeftandRight;

    }

}
// / NEWS
// ICONS
.icons{




.iconContainer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:2rem;
}

.companyIcon{
    align-self: center;
    justify-self:self-start;
    min-height: 100%;
}

.companyIconHidden{
    visibility: hidden;
}

}
// /ICONS
// AUCTION
.auction{

    a{
        text-decoration: underline;
    }
    .auctionCardBox{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
        overflow-x: scroll;
    }


    // auction card teksto stilizacijos
    .auctionCard--line{
        p{
            color: $NFT-Text-Details;
        }
    }

        .auctionCard--line--1{
            margin-top: 2rem;
            margin-bottom: 0rem;
            p{
            font-size: 1.2rem;
            font-weight: 500;
            }

            .auctionCard--line--1__left{
                p{
                color: $NFT-series-color;
                }
            }  

        }

        .auctionCard--line--2{
            margin-top: 0.3rem;
            margin-bottom: 0rem;
            p{
            color: $primary-text-color;
            font-weight: 500;
            font-size: 2rem;
            }
        }

        .auctionCard--line--3{
            margin-top: 0rem;
            margin-bottom: 1.8rem;
            p{

            font-weight: 400;
            font-size: 1.8rem;
            }
        }
    .auctionCard{
    background-color: $card-color;
    overflow: hidden;
    border-radius: 15px;
    min-width: 290px;
    margin-top: 4rem;
    margin-bottom: 5rem;

        &__img{
            min-width: 100%;
        }

    }

    .auctionCard--line{
        display:flex;
        justify-content: space-between;
        padding: 0em 2em;

        p{
            margin: 0;
            padding: 0;
        }




    }

    .auctionCard--line--2__right{
    display: flex;
    align-items: center;

        img{
            padding-right: 1em;
            height: 3rem;
        }
    }
}
// /AUCTION
//about
.about{
    overflow: hidden;
border-top: $About-Box-BorderColor solid 2px;
border-bottom: $About-Box-BorderColor solid 2px;

padding-top: 0;
padding-bottom: 0;

button{
    margin-bottom:8rem  ;
}

    h3{
        padding-top: 7rem;
    }
    
    .container{
        // position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .minimumBoxForTextBox{
        overflow: visible;
        min-width: 13rem;
        height: 100%;
        z-index: 10;
    }


    .textBox{
        min-width: 20.2em;
        p{
        max-width: 26em;
        }
    }

    .imgBox{
        height: 100%;
        width: 100%;
        min-width: 400px;
        display: grid;
        align-content: end;
        justify-content: center;
        padding-top: 5rem;
    }

    .NFTImg{
        max-height: 100%;
        min-width: 200px;
        z-index: 1;
    }
    
    }
// /about
//footer
footer{
    overflow: hidden;

    .logoImgFooter{
        height: 3.6rem;
    }

    a{
        text-decoration: none;
    }


    .Copyright{
        @extend .p_Copyright;
        margin-top: 4rem;
        margin-bottom: 8rem;
    }
    .footerParagraph{
        margin-top: 3rem;
        margin-bottom: 3.2rem;

    }



    .icon{
        font-size: 1.8rem;
        padding-right: 1.6rem;
    }
    .logoImgFooter{
        margin-top: 3rem;
    }

    .footerNavigation{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .iconBox{
    margin-bottom: 3rem;       
    }
    .copyrightLine{
        display: flex;
        justify-content: space-between;
        min-width: 700px;


    }

    .CopyrightHidden{
    visibility: hidden;

    }

}
// /footer






//MEDIA
        @media screen and (min-width: 1000px){
//MEDIA ALL
html{
.container{
    padding-left: 8rem;
    padding-right: 8rem;
}
}
// /MEDIA ALL
// MEDIA header
header{
padding-top: 7rem;
padding-bottom: 13rem;

    ul{
        display: flex;
    }
    .fa-bars{
        display: none;
    }




}
// / MEDIA header
// MEDIA hero
.hero{
    h1{
    font-size:9.6rem;
    }
    .textBox{
        min-width: 68rem;
    }
}
// / MEDIA hero
// MEDIA news
.news{
    margin-left: 8rem;
    margin-right: 8rem;
    // prideda margin prie backgroundo
    // Sitas padarytas tik del to nes taip padaryta pavizdyje.

    .news__container{
        overflow: hidden;
        border-radius: 1.5rem;
        .news__img{
            border-radius: inherit;
        }
    }




}
// / MEDIA news
// MEDIA icons
.icons{
    padding-top: 12.2rem;
    padding-bottom: 8rem;

        .companyIconHidden{
            visibility:visible;
        }
        
        .iconContainer{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

        }


    
    }
// / MEDIA icons
// MEDIA auction

// / MEDIA auction
// MEDIA about
.about{

    padding-top: 5rem;
    h1{
    font-size:5.6rem;
    padding-bottom: 2.4rem;
    margin-bottom: 0;
    }
    h3{
        margin-bottom: 2.4rem;
    }
    button{
        margin-top: 2rem;
        margin-bottom: 8rem;
    }
}
// / MEDIA about
// MEDIA footer
footer{
    padding-top: 10rem;
    .footerGridLine{
        display: grid;
        grid-template-columns: 1fr 1fr;
            .footerNavigation{
                grid-template-columns: 1fr 1fr 1fr 1fr;

            }
    }
        .CopyrightHidden{
            visibility:visible;
    }


    .copyrightLine{
padding-top: 11rem;


    }
}
// / MEDIA footer
}
// / MEDIA